<ion-view hide-nav-bar="true">
  <ion-content>
    <invader id = 'i1' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[1].invaderVisible"></invader>
    <invader id = 'i2' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[2].invaderVisible"></invader>
    <invader id = 'i3' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[3].invaderVisible"></invader>
    <invader id = 'i4' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[4].invaderVisible"></invader>
    <invader id = 'i5' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[5].invaderVisible"></invader>
    <invader id = 'i6' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[6].invaderVisible"></invader>
    <invader id = 'i7' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[7].invaderVisible"></invader>
    <invader id = 'i8' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[8].invaderVisible"></invader>
    <invader id = 'i9' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[9].invaderVisible"></invader>
    <invader id = 'i10' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[10].invaderVisible"></invader>
    <invader id = 'i11' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[11].invaderVisible"></invader>
    <invader id = 'i12' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[12].invaderVisible"></invader>
    <invader id = 'i13' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[13].invaderVisible"></invader>
    <invader id = 'i14' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[14].invaderVisible"></invader>
    <invader id = 'i15' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[15].invaderVisible"></invader>
    <invader id = 'i16' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[16].invaderVisible"></invader>
    <invader id = 'i17' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[17].invaderVisible"></invader>
    <invader id = 'i18' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[18].invaderVisible"></invader>
    <invader id = 'i19' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[19].invaderVisible"></invader>
    <invader id = 'i20' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[20].invaderVisible"></invader>
    <invader id = 'i21' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[21].invaderVisible"></invader>
    <invader id = 'i22' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[22].invaderVisible"></invader>
    <invader id = 'i23' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[23].invaderVisible"></invader>
    <invader id = 'i24' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[24].invaderVisible"></invader>
    <invader id = 'i25' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[25].invaderVisible"></invader>
    <invader id = 'i26' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[26].invaderVisible"></invader>
    <invader id = 'i27' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[27].invaderVisible"></invader>
    <invader id = 'i28' class = "invader-show-hide" ng-class="ng-hide" ng-show="ukraine[28].invaderVisible"></invader>
    <div class="badge badge-assertive score">{{ score }}</div>
    <div ukraine id="map"></div>
  </ion-content>
</ion-view>
